# Temporary/System/Log files
*~
.DS_Store
*.icloud

#Data files
*.root
*.tar
*.gz
*.tgz
rootFiles/
data/
dataset/
outputFiles/
outputFiles2/
trainedNNs/


# Image/PDF files
*.eps
*.pdf
*.jpg
*.png
*.gif
paperOutput/
plots/
