# Temporary/System/Log files
*~
.DS_Store
*.icloud
docker_stderror
*.log
*.stderr
*.stdout
regressionScripts/logs

#Data files
*.root
*.tar
*.gz
*.tgz
dataset/
temp/
rootFiles/
data/
dataset/
outputFiles/
outputFiles2/
trainedNNs/

# Image/PDF files
*.eps
*.pdf
*.jpg
*.png
*.gif
paperOutput/
plots/
